# OS
.DS_Store

# IDE
**.log

# Node
node_modules/
frontend/dist/

# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
**/.env
**/.venv

# folders
models
**/out
**/out_long
**/out_short
.rules/**

# future versions
**/video_content_generator

# Media files
*.mp3
*.wav
*.WAV
*.mp4
*.mov


# Custom files
ARCHITECTURE.md
config.json
